{# YOU CAN USE THIS FILE AS BASE TABLE TEMPLATE TO VISUALIZE OBJECT'S HISTORIC #}
{% if object is defined and object is not null and object.historics is defined %}

    {% set classTh = classTh is defined ? classTh : null %}
    {% set classTd = classTd is defined ? classTd : null %}

    <table class="table table-bordered table-hover {{ object.historics|length == 0 ? 'hidden' : null }}">
        <thead>
            <tr>
                <th class="{{ classTh }}">Sujet</th>
                <th class="{{ classTh }}">Date</th>
                <th class="{{ classTh }}">Auteur</th>
            </tr>
        </thead>
        <tbody>
            {% for historic in object.historics|reverse %}
                {% set user = historic.user %}
                {# try to get firstname and lastname of user #}
                {% set firstname = user and user.firstname is defined ? user.firstname : null %}
                {% set lastname = user and user.lastname is defined ? user.lastname : null %}
                {# try to make identity with firstname and lastname #}
                {% set identity = firstname and lastname ? firstname ~ ' ' ~ lastname : null %}
                {# not firstname and not lastname, try with username #}
                {% set identity = not identity and user ? user.username : identity %}
                <tr>
                    <td class="{{ classTd }}">{{ historic.action|trans({}, 'acseo_historic') }} #{{ historic.objectId }}</td>
                    <td class="{{ classTd }}">{{ historic.date ? historic.date|date('d/m/Y - H:i') : null }}</td>
                    <td class="{{ classTd }}">{{ identity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p class="{{ object.historics|length > 0 ? 'hidden' : null }}" style="margin-bottom:15px;padding-left:5px;"><i>Aucun resultat</i></p>
{% elseif object is defined and object is not null and object.historic is not defined %}
    <p class="bg-danger">
        Affichage impossible car vous n'avez pas de propriété nommée "historics" dans votre entité.
        Vous pouver utiliser le Acseo\HistoricBundle\Traits\HistoricTrait.
    </p>
{% endif %}


